@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

h2, h3 {
    font-weight: 600;
}

p {
    font-size: 16px;
}